<!-- <!DOCTYPE html> -->
<!-- <html> -->

<head>
    <% if (pageName) { %>
        <title>108Express </title>
        <%} else {%>
            <title>Shopping Cart</title>
            <% } %>
            <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

                <link href="/css/index.css" rel="stylesheet" />
                <script src="https://code.jquery.com/jquery-3.5.1.js"
                    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                <script src="https://rawgit.com/notifyjs/notifyjs/master/dist/notify.js"></script>
    
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                    crossorigin="anonymous"></script>

                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
                    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
                    crossorigin="anonymous">

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
                    crossorigin="anonymous"></script>

                <script src="https://kit.fontawesome.com/91abd10b8f.js" crossorigin="anonymous"></script>
                <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
                    integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
                    crossorigin="anonymous"></script>
                <script type="text/javascript" src="/../js/notification.js"></script>
                <script type="text/javascript" src="/../js/currency.js"></script>
                <script type="text/javascript" src="/../js/header.js"></script>
                
</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <div class="row nav-container mx-auto">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="search-container">
                        <form class="form-inline" action="/products/search" method="GET">
                            <input class="search-input" type="search" placeholder="Search" name="search" />
                        </form>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12 logo-container">
                    <a href="/shop/home">
                        <img class="logo-img img-fluid" src="/assets/main-logo.png" alt="logo" />
                        <canvas id="logo-canvas" width="170" height="60" style="margin-top: 4px;"></canvas>
                    </a>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12 right-nav">
                    <ul id="user-right-nav">
                        <li>
                            <a href="/shop/shopping-cart">
                                <i class="fas fa-shopping-cart"></i>
                                <% if(session.cart) { %>
                                    <span id="totalQtyCart" class="badge rounded-pill text-bg-secondary">
                                        <%= session.cart.totalQty %>
                                    </span>
                                    <% } else { %>
                                        <span id="totalQtyCart" class="badge rounded-pill text-bg-secondary">0</span>
                                        <% } %>
                            </a>
                        </li>
                        <% if (login) { %>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user"></i> Welcome <%=currentUser.username%>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <% if (isAdmin) { %>
                                        <li><a class="dropdown-item" href="/user/admin">Admin Panel</a></li>
                                        <li><a class="dropdown-item" href="/products/new-product">Create Product</a></li>
                                        <% } %>
                                            <li><a class="dropdown-item" href="/user/profile">User Account</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                                </ul>
                            </div>
                            <% } else {%>
                                <li>
                                    <a href="/user/signup"> Sign Up</a>
                                </li>
                                <li>
                                    <a href="/user/signin"> Sign In</a>
                                </li>
                                <% }%>
                    </ul>
                </div>
            </div>

            <script>
                var canvas = document.getElementById("logo-canvas");
                var ctx=canvas.getContext("2d");
                ctx.font="30px Comic Sans MS";
                ctx.fillStyle = "rgb(0 96 121 / 1)";
                ctx.textAlign = "center";
                ctx.fillText("108 Express", canvas.width/2, canvas.height/2);
            </script>