<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">About Us</h1>
      <h3>Welcome to our store</h3>
      <p>
        Our store consist of the elite unit of 108 alumni in the IAF.<br>
        Our goal is to provide the best products to help every male or female soldier with their day to day needs.<br>
        We try to be as versatile as possible and for that you will find in our store all sorts of stuff,<br>
        from bags you take to guard duties, day to day products and even some of our <b>home made electronics</b> 
      </p>
      <p>
        Our base of operation is at the Collage Of Management in Rishon Letzion city, <br>
        as nearly all of the 108 alums are attending this luxurious collage, <br>
        and our factory is in Tzrifin which is only a 15 minutes drive from the shop. <br>
        Come join us for a spectacular shopping spree and perhaps consider joining the Collage Of Management on your own someday.        
      </p>
    </div>
    <div class="col-lg-8 col-md-12 mx-auto mt-3 mb-3">
      <h3>Our location on map</h3>
      <div class="mt-4" id="map" style="width: 100%; height: 400px;"></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/public/js/map.js"></script>
<script async defer
src=
"https://maps.googleapis.com/maps/api/js?key=AIzaSyA2ZvVoWcjwmkPVpHUJpppYqXXeXPEatc0&callback=initMap">
</script>

<%- include ../partials/footer %>
