<%- include ("../partials/header") %> <%- include ("../partials/navbar") %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Shipping Policy</h1>
      <p>
        On this page you will find information about our shipping duration and
        costs.
      </p>

      <h4>Order Processing Duration</h4>
      <p>
        An avarage time for an order to be processed is between 2 to 5 buisness days,<br>
        not including holidays and weekends. Once the order has been placed you shall receive notice,
        please contact us with any issues or delays with the order
      </p>

      <h4>Order Delivery</h4>
      <p>
        We at 108 Express give the best delivery options for the right price.<br>
        we ship to any location you choose in israel and unfortunately we do not support over-seas.<br>
        you can even choose the time of the delivery, when you can actually be home<br><br>
      </p>
      
      <h4>Shipping Rates</h4>
      <p>
        shipment methods and prices:<br>
        <b>Same Day delivery</b> (between 8AM-13PM) - 36$<br>
        <b>Express delivery</b> (2-3 Days) - 24$ <br>
        <b>Standard shipping</b> (using israeli postmail) - 12$<br>
      </p>

      <h4>Returning Products</h4>
      <p>
        our product are too good to be returned however if you still disagree with us,<br>
        you can bring the product back to the main branch in the collage of Managment<br>
        and you may be refunded or replaced with another product of equal value
      </p>

      <h4>Do you have questions?</h4>
      <p>
        Please do not hesitate to
        <a href="/about/contact-us.ejs"><u>contact us</u></a> through our emails or
        phone numbers.
      </p>
    </div>
  </div>
</div>

<%- include ("../partials/footer") %>
